html, body {
    font-family: 'shelley_allegro', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 700;
}

.seguicisu {
    color: brown;
}

/*#carousel-container:hover {*/
/*    margin: 0 auto;*/
/*    width: 60%;*/
/*    max-height: 110%;*/
/*    transition: ease-in .2s;*/
/*}*/

#myFooter {
    background-color: #eee;
    font-family: "Source Sans Pro", serif;
}

.normal-font {
    font-family: 'shelley_allegro', sans-serif;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0 !important;
}

.nav-link-resp {
    color: black !important;
    border: none;
    outline: none;
}

.nav-link-resp:active {
    color: orange;
}

.nav-link:active {
    color: orange;
    text-decoration: none;
}

.nav-link-resp:hover {
    text-decoration: none !important;
    color: orange !important;
    border: none;
    outline: none;
}

.navbar-motto {
    color: brown;
    font-weight: 700;
    font-size: 50px;
}

#navigation {
    background-image: url("./img/sfondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
}


#myLinks a:hover {
    color: orange;
    text-decoration: none;
    transition: .2s ease-in;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: inline-block;
}

li {
    width: 23.62204724409449vh;
    height: 10.236220472440944vh;
    line-height: 10.236220472440944vh;
    position: relative;
    font-size: 3.204724409448819vh;
    z-index: 2;
}

.nav-link {
    color: brown;
    font-weight: bold;
    font-size: 1.1em;
}

ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}

.drop-menu li a {
    cursor: pointer;
}


#nav-link-lg {
    display: block;
    color: white;
    background-color: brown;
    margin-top: 0.7em;
    cursor: pointer;
    border-color: transparent;
    text-decoration: none;
    transition: .2s ease-in;
    height: 98.5%;
}

#nav-link-lg:hover {
    color: orange;
    text-decoration: none;
}

#facebook {
    color:#1D6ABF;
}

#facebook:hover {
    color: #0D0E50;
    transition: .2s ease-in;
}

#instagram {
    color: #E72F2F;
}

#instagram:hover {
    color:#850B0B;
    transition: .2s ease-in;
}

#mail {
    color: black;
}

#mail:hover {
    color: brown;
    text-decoration:none;
    transition: .2s ease-in;
}

#phone {
    color: black;
}

#phone:hover {
    color: brown;
    text-decoration:none;
    transition: .2s ease-in;
}

.flip-card {
    /*border: 1px solid red;*/
    background-color: transparent;
    /*width: 100%;*/
    perspective: 1000px;
    animation: menu1 3s forwards;
    border-radius: 2px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: relative;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    position: relative;
    background-color: transparent;
    color: black;
}

.flip-card-back {
    /*border: 1px solid red;*/
    position: relative;
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
}

li:hover > ul.drop-menu li:nth-child(1) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

li:hover > ul.drop-menu li:nth-child(2) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

li:hover > ul.drop-menu li:nth-child(3) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

li:hover > ul.drop-menu li:nth-child(4) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

li:hover > ul.drop-menu li:nth-child(5) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

li:hover > ul.drop-menu li:nth-child(6) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@keyframes menu1 {
    from {
        opacity: 0;
        transform: rotateY(-90deg);
    } to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/*#section {*/
/*height: auto;*/
/*}*/

/*#sidebar {*/
/*    height: 350px;*/
/*    background-color: grey;*/
/*}*/

/*.image {*/
/*    max-width: 100%;*/
/*}*/

/*#body {*/
/*    position: relative;*/
/*    top: 320px;*/
/*}*/

.fa-plus-circle {
    color: brown;
}

.fa-minus-circle {
    color: brown;
}

/*.mt-6 {*/
/*    margin-top: 4rem;*/
/*}*/

#menu {
    color: #C91E1E;
    border: none;
    outline: none;
}
#toggler-button:hover {
    border: none;
    outline: none;
}
#toggler-button:active {
    border: none;
    outline: none;
}

@keyframes logo {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#logo {
    animation: logo 5s forwards;
}

/*.pb-6 {*/
/*    padding-bottom: 6rem;*/
/*}*/

/*.pl-6 {*/
/*    padding-left: 6rem;*/
/*}*/

/*#posLink {*/
/*    color: brown;*/
/*}*/

/*#posLink:hover {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    transition: .2s ease-in;*/
/*}*/
/*!*lg*!*/
@media screen and (min-width: 992px) and (max-width: 1023px) {

    .navbar-motto {
        padding-top: 10rem;
    }
}

/*xs*/
@media screen and (max-width: 330px) {
    #logo {
        width: 100%;
    }
    .carousel-item {
        max-width: 300px;
    }

}
/*@media screen and (min-width: 992px) and (max-width: 1024px) {*/

/*    #corpo {*/
/*        position: absolute;*/
/*        z-index: 0;*/
/*        top: 750px;*/
/*    }*/


/*    ul.drop-menu li a {*/
/*        display: block;*/
/*        color: white;*/
/*        background-color: brown;*/
/*        margin-top: 0.7em;*/
/*    }*/

/*    #items {*/
/*        background-color: white;*/
/*    }*/

/*    #footer {*/
/*        position: absolute;*/
/*        z-index: 0;*/
/*        width: 100%;*/
/*        top: 2000px;*/
/*    }*/

/*    #logo-1st {*/
/*        position: absolute;*/
/*        z-index: 2;*/
/*        !*background-color: red;*!*/
/*        height: 100px;*/
/*    }*/

/*    #myLinks ul li a {*/
/*        color: white;*/
/*    }*/

/*    #body-resp {*/
/*        position: relative;*/
/*        top: 450px;*/
/*    }*/

/*    .ml-6 {*/
/*        margin-left: 4.5rem;*/
/*    }*/

/*    #logo {*/
/*        margin-left: 18rem;*/
/*        width: 35%;*/
/*    }*/

/*    #navigation {*/
/*        margin-top: 7rem;*/
/*    }*/

/*    .w-5 {*/
/*        width:5%;*/
/*    }*/
/*}*/
/*xl*/
@media screen and (min-width: 1024px) {

    html {
        min-height: 1000px;
    }

    .flip-card-back {
        bottom: 300px;
    }

    .flip-card {
        max-width: 250px;
        max-height: 330px;
        box-shadow: 0 10px 20px black;
    }

    #logo {
        width: 60%;
    }
    #carousel-container {
        /*border: 1px solid red;*/
        margin: 0 auto;
        width: 755px;
        max-height: 500px;
        transition: ease-in .2s;
    }
    .carousel-item {
        /*border: 1px solid red;*/
        min-width: 750px;
        max-width: 500px;
    }
    .pt-xl-6 {
        padding-top: 120px;
    }
    .navbar-motto {
        padding-top: 130px;
    }

    li {
        float: left;
    }
}

/*!*xl*!*/
/*@media screen and (min-width: 1025px) {*/
/*    #position {*/
/*        padding-top: 2rem;*/
/*        font-size: 4vh;*/
/*    }*/

/*    !*.seguicisu {*!*/
/*    !*    position: absolute;*!*/
/*    !*    top: 55px;*!*/
/*    !*    left: 900px;*!*/
/*    !*}*!*/

/*    .navbar-motto {*/
/*        color: brown;*/
/*        margin-top: 10rem;*/
/*        font-weight: 700;*/
/*        font-size: 50px;*/
/*    }*/

/*    ul.drop-menu li a {*/
/*        display: block;*/
/*        color: white;*/
/*        background-color: brown;*/
/*        margin-top: 0.7em;*/
/*    }*/
/*    }*/

/*    #section {*/
/*        height: auto;*/
/*    }*/

/*    #items {*/
/*        color: white;*/
/*    }*/


/*    #sidebar {*/
/*        height: 350px;*/
/*        background-color: grey;*/
/*    }*/

/*    .image {*/
/*        max-width: 100%;*/
/*    }*/

/*    #body {*/
/*        position: relative;*/
/*        top: 320px;*/
/*    }*/

/*    #corpo {*/
/*        position: absolute;*/
/*        z-index: 0;*/
/*        top: 750px;*/
/*    }*/

/*    #logo-1st {*/
/*        position: absolute;*/
/*        z-index: 2;*/
/*        !*background-color: red;*!*/
/*        height: 100px;*/
/*    }*/

/*    #footer {*/
/*        position: absolute;*/
/*        z-index: -1000;*/
/*        width: 100%;*/
/*        !*top: 2000px;*!*/
/*    }*/

/*    #logo {*/
/*        width: 65%;*/
/*        margin-left: 80px;*/
/*    }*/

/*    #logo-1st {*/
/*        position: relative;*/
/*        z-index: 2;*/
/*        !*background-color: red;*!*/
/*        height: 150px;*/
/*    }*/

/*    .w-5 {*/
/*        width:5%;*/
/*    }*/

/*!*md*!*/
@media screen and (min-width: 768px) and (max-width: 991px) {
}
/*@media screen and (min-width: 768px) and (max-width: 991px) {*/

/*    #corpo {*/
/*        position: absolute;*/
/*        top: 600px;*/
/*        z-index: 0;*/
/*    }*/

/*    .navbar-motto {*/
/*        color: brown;*/
/*        margin-top: 10rem;*/
/*        font-weight: 700;*/
/*        font-size: 50px;*/
/*    }*/

/*    ul.drop-menu li a {*/
/*        display: block;*/
/*        color: white;*/
/*        background-color: brown;*/
/*        margin-top: 0.7em;*/
/*    }*/

/*    #logo-1st {*/
/*        position: absolute;*/
/*        z-index: 2;*/
/*        !*background-color: red;*!*/
/*        height: 100px;*/
/*    }*/

/*    #logo {*/
/*        margin-left: 10rem;*/
/*        width: 40%;*/
/*    }*/

/*    #body-resp {*/
/*        position: relative;*/
/*        top: 450px;*/
/*    }*/

/*    #footer {*/
/*        position: absolute;*/
/*        z-index: 2;*/
/*        !*width: 100%;*!*/
/*        top: 2000px;*/
/*        height: 194.45px;*/
/*    }*/

/*    #navigation {*/
/*        margin-top: 7rem;*/
/*    }*/

/*}*/

/*!*sm*!*/
@media screen and (min-width: 360px) and (max-width: 767px) {
    #logo {
        width: 100%;
    }
    #navbar-motto {
        padding-top: 80px;
    }
    .flip-card {
        max-width: 125px;
        max-height: 165px;
        box-shadow: 0 10px 20px black;
    }
    .flip-card-back {
        word-wrap: break-word;
        word-wrap: break-word;
        bottom: 150px;
    }
    .carousel-item {
        min-width: 330px;
        max-width: 330px;
        min-height: 250px;
        max-height: 250px;
        justify-content: center;
    }
    #carousel-container-sm {
        /*border: 1px solid red;*/
        margin: 0 auto;
        width: 335px;
    }
}
@media screen and (min-width: 300px) and (max-width: 767px) {

/*    #corpo {*/
/*        position: absolute;*/
/*        top: 950px;*/
/*        z-index: 0;*/
/*    }*/

/*    .seguicisu {*/
/*        position: absolute;*/
/*        top: 450px;*/
/*        left: 140px;*/
/*        color: brown;*/
/*    }*/

/*    .navbar-motto {*/
/*        color: brown;*/
/*        margin-top: 10rem;*/
/*        font-weight: 700;*/
/*        font-size: 40px;*/
/*    }*/

/*    #navigation {*/
/*        margin-top: 11rem;*/
/*    }*/

    #myLinks ul li a {
        color: black;
    }

/*    #logo-1st {*/
/*        position: absolute;*/
/*        z-index: 2;*/
/*        !*background-color: red;*!*/
/*        height: 100px;*/
/*    }*/

/*    #body-resp {*/
/*        position: relative;*/
/*        top: 560px;*/
/*    }*/

/*    #logo {*/
/*        width: 60%;*/
/*        margin-left: 80px;*/
/*        margin-top: 60px;*/
/*    }*/

/*    #footer {*/
/*        position: absolute;*/
/*        z-index: 2;*/
/*        !*width: 100%;*!*/
/*        top: 1000px;*/
/*        height: 600px;*/
/*    }*/

    .g-maps {
        width: 30%;
    }

}

#debora {
    width: 40%;
}
.g-maps {
    width: 30%;
}

#cabim {
    width: 10%;
}

.laminiera {
    width: 40%;
    margin-top: 1.1rem;
    margin-left: 1.1rem;
}

#ctf {
    width: 15%;
}

/*@font-face {*/
/*    font-family: 'shelley_allegro';*/
/*    src: url('./font/34460_SHAL____.ttf') format('truetype');;*/
/*}*/


/*.row > div { border:1px solid blue;}*/